#body {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 785px;
    background: #ffd70f url(../img/podklad.png) 0 0 repeat-y;
}

main {
    color: #494949;
    width: 600px;
    margin-left: 64px;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    margin-left: -94px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    line-height: 70%;
    margin-bottom: 26px;
}

header img {
    margin-bottom: -64px;
}

header h1,
header span {
    padding-left: 240px;
}

header h1 {
    font-size: 1em;
    padding-bottom: 0;
    margin: 0;
}

header span {
    font-size: 14px;
    color: white;
    font-weight: bold;
}

main > aside {
    float: left;
    width: 64px;
    text-align: center;
}
main > aside ul {
    list-style-type: none;
    padding: 10px 0 0 0;
}
main > aside li {
    opacity: 1;
}
main > aside li:hover {
    opacity: 0.6;
}
main > aside li {
  padding: 4px 0;
}
main > aside img {
    max-width: 48px;
    max-height: 48px;
}

#content {
    width: 500px;
    font-family: Arial;
    background: url(../img/podklad_text_stred.png);
    float: right;
}
#content a:hover {
    text-decoration: underline;
}
#content article {
    padding: 10px 20px 10px 50px;
    line-height: 200%;
}
#content h1 {
    padding-bottom: 0.2em;
}
#content h1 img {
    margin-right: 0.25em;
    vertical-align: middle;
}

.doprava {
    float: right;
    margin: 5px;
}

.historie {
    padding-left: 30px;
    background: url(../img/historie.png) 0 0 no-repeat;
    font-size: 0.9em;
    line-height: 170%;
}

.keywords {
    list-style-type: none;
    padding: 0;
}
.keywords li {
    text-indent: -30px;
    padding: 0;
    margin: 0;
    font-size:14px;
    color:black;
}
.keywords img {
    margin-right: 8px;
}
.keywords .key18 {
    font-size: 18px;
    font-weight: normal;
    color: #b7b7b7;
}
.keywords .key20 {
    font-size: 20px;
    font-weight: normal;
    color: #929292;
}
.keywords .key22 {
    font-size: 22px;
    font-weight: bold;
    color: #6e6e6e;
}
.keywords .key24 {
    font-size: 24px;
    font-weight: bold;
    color: #494949;
}

footer {
    height: 185px;
    background: url(../img/gnulinux5_bck_bottom.png) 0 0 no-repeat;
    padding: 60px 100px 0 100px;
}

footer ul {
    padding: 0;
    font-size: 1.3em;
    color: #ac0000;
}

footer .copyleft,
footer .copy,
footer .copy a {
    color: grey;
}

footer .copy {
    padding-top: 15px;
    font-size: 0.9em;
    text-align: center;
}
