header {
    position: absolute; left: 0px; top: 0px;
    width: 100%;
    background-image: url("../img/top_bckg.png");
    background-repeat: repeat-x;
}

header h1 {
  margin: 0;
  padding: 0;
}

header ul {
    list-style-type: none;
    position: absolute; right: 10px; bottom: 15px;
    margin: 0;
    font-size: 1.3em;
    color: #ac0000;
}

header li,
header a {
    display: inline;
    color: #ac0000;
}

header li:not(:last-child)::after {
    display: inline-block;
    content: '|';
    padding-left: 0.25em;
}

/************* left column *************/

.lcol {
    float: left;
    padding-left: 20px;
    margin-top: 100px;
    width: 70%;
    color: #494949;
}

.lcol h2 {
    border-bottom: 1px solid black;
    color: #000;
    font-size: 1.2em;
    padding: 10px 5px 2px 0px;
    margin: 0px;
}

.lcol p {
    font-size: 1em;
    margin-bottom: 1em;
}

.lcol a {
    text-decoration: underline;
}

.lcol b {
    color: #292929;
}

.lcol pre,
.lcol code {
    display: block;
    margin-left: 1em;
    padding: 0.5em;
    border: 1px solid grey;
    background-color: #eee;
}

.lcol .download {
    text-align: right;
    list-style-type: none;
}

.lcol .download li {
    display: inline;
}

.lcol .download li:not(:last-child)::after {
    display: inline-block;
    content: '|';
    padding-left: 0.25em;
}

.lcol .download img {
    padding: 1px;
    margin: 1px;
}

.vyhody {
    border: 1px solid black;
    margin: 20px;
    background-image: url("../img/vyhody_bck.png");
    background-position: right top;
    background-repeat: no-repeat;
}

.vyhody img {
    float: right;
    margin: 5%;
    padding: 0px;
    padding-right: 5%;
}

.vyhody ul {
    padding: 2em 2em 2em 10%;
    margin: 0px;
}

.vyhody li {
    padding-top: 5px;
}

.vyhody a {
    color: #b77200;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0;
}

.subvyhoda {
    padding-left: 3em;
    font-size: 0.9em;
}

.lcol .t_sc {
    float: right;
    margin: 5px;
}

.lcol .subdist {
    padding-left: 15em;
}

table {
    background-color: #aaa;
    width: 100%;
}

td {
    background-color: #fff;
    padding: 3px;
}

.lcol .mp {
    background-color: #ccc;
}

th {
    text-align: left;
    background-image: url("../img/top_bckg.png");
    background-repeat: repeat-x;
    background-color: yellow;
}

th,
table h4 {
    font-size: 1.2em;
    margin: 0;
}

.inline-nav {
    list-style-type: none;
    margin: 0.5em 0;
    padding: 0.5em;
    background-image: url("../img/top_bckg.png");
    background-repeat: repeat-x;
    background-color: yellow;
    border: 2px solid #aaa;
}

.inline-nav li {
    display: inline;
    margin: 0 0.7em;
}

/************* right collum *************/


.rcol {
    float: right;
    width: 25%;
    margin-top: 100px;
    position: relative;
    font-size: 0.9em;
}

.rcol .centr {
    text-align: center;
}

.rcol .centr strong {
    color: #888;
    font-size: 1.2em;
}

.rcol > div:not([class="centr"]) {
    margin: 10px;
    border: 1px solid #f2dc00;
}

.rcol .c800 {
    font-size: 1.3em;
    font-weight: bold;
}

.rcol h1 {
    font-size: 1.2em;
    color: white;
    background-image: url("../img/top_bckg.png");
    background-repeat: repeat-x;
    background-color: #f2dc00;
    padding: 3px;
    padding-bottom: 1px;
    margin: 0px;
    border-bottom: 1px solid #a2ac00;
}

.rcol h1 a {
    text-decoration: none;
    color: #ac0000;
}

.rcol h2 {
    font-size: 1em;
    padding: 10px 5px 0px 5px;
    margin: 1px;
    color: #292929;
}

.rcol p {
    padding: 5px;
    margin: 1px;
    line-height:1.5em;
}

.rcol a {
    text-decoration: underline;
}

footer {
    padding: 20px;
    font-size: smaller;
}

footer ul {
    padding: 5px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer .copyleft {
    display: none;
}
