header {
    position: absolute; left: 0px; top: 0px;
    width: 100%;
    background-image: url("../img/top_bckg.png");
    background-repeat: repeat-x;
}

header h1 {
  margin: 0;
  padding: 0;
}

header ul {
    list-style-type: none;
    position: absolute; right: 10px; bottom: 15px;
    margin: 0;
    font-size: 1.3em;
    color: #ac0000;
}

header li,
header a {
    display: inline;
    color: #ac0000;
}

header li:not(:last-child)::after {
    display: inline-block;
    content: '|';
    padding-left: 0.25em;
}

/************* left column *************/

article {
    float: left;
    padding-left: 20px;
    margin-top: 100px;
    width: 70%;
    color: #494949;
}

article h2 {
    border-bottom: 1px solid black;
    color: #000;
    font-size: 1.2em;
    padding: 10px 5px 2px 0px;
    margin: 0px;
}

article h2 img {
    max-width: 1em;
    max-height: 1em;
}

article p {
    font-size: 1em;
    margin-bottom: 1em;
}

article a {
    text-decoration: underline;
}

article b {
    color: #292929;
}

article pre,
article code {
    display: block;
    margin-left: 1em;
    padding: 0.5em;
    border: 1px solid grey;
    background-color: #eee;
}

article .download {
    text-align: right;
    list-style-type: none;
}

article .download li {
    display: inline;
}

article .download li:not(:last-child)::after {
    display: inline-block;
    content: '|';
    padding-left: 0.25em;
}

article .download img {
    padding: 1px;
    margin: 1px;
}

.vyhody {
    border: 1px solid black;
    margin: 20px;
    padding: 2em 2em 2em 10%;
    background-image: url("../img/vyhody_bck.png");
    background-position: right top;
    background-repeat: no-repeat;
    position: relative;
}

.vyhody li {
    padding-top: 5px;
}

.vyhody a {
    color: #b77200;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0;
}

.subvyhoda {
    padding-left: 3em;
    font-size: 0.9em;
}

article .t_sc {
    float: right;
    margin: 5px;
}

article .subdist {
    padding-left: 15em;
}

table {
    background-color: #aaa;
    width: 100%;
}

th {
    text-align: left;
    background-image: url("../img/top_bckg.png");
    background-repeat: repeat-x;
    background-color: yellow;
    font-size: 1.2em;
    margin: 0;
}

td {
    background-color: #fff;
    padding: 3px;
    width: 33%;
}

article .mp {
    background-color: #ccc;
}

.inline-nav {
    list-style-type: none;
    margin: 0.5em 0;
    padding: 0.5em;
    background-image: url("../img/top_bckg.png");
    background-repeat: repeat-x;
    background-color: yellow;
    border: 2px solid #aaa;
}

.inline-nav li {
    display: inline;
    margin: 0 0.7em;
}

footer {
    padding: 20px;
    font-size: smaller;
}

footer ul {
    padding: 5px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer .copyleft {
    display: none;
}
