h1 {
    font-size: 2em;
}

    #podklad{
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 785px;
      background: #ffd70f  url(img/podklad.png) 0 0 repeat-y;
    }
    #main_body {
      background: url(img/gnulinux5_bck_top.png) 0 0 no-repeat;
      color: #494949;
    }
    #hlavni_obsah {
      width: 665px;
      margin-left: 64px;
      padding-left: 30px;
      padding-top: 37px;
    }
    #hlava {
      width: 519px;
    }

    #vnitrni_krabicka {
      width: 600px;
      margin-top: 10px;
    }

    #podnadpis {
    width: 440px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    line-height: 70%;
    padding-left: 140px;
/*    background: url(img/dnld_trans.gif) no-repeat 0 bottom;*/
    }

    .sevsim {
      font-size: 14px;
      color: white;
      font-weight: bold;
    }

    #podnadpis h1 {
    font-size: 1em;
    border: 0px;
    padding: 0px;
    margin: 0px;
    }

    #baner_js_space {
    padding-top: 10px;
    height: 1em;
    text-align: right;
    }

#ikony {
    list-style-type: none;
    padding: 10px 0 0 0;
}
#ikony li,
#ikony li a {
    display: block;
    width: 64px;
    height: 64px;
}
#ikony li {
    opacity: 1;
}
#ikony li:hover {
    opacity: 0.6;
}

#text {
    width: 500px;
    font-family: Arial;
    background: url(img/podklad_text_stred.png);
    float: right;
}
#text a {
    text-decoration:none;
}
#text a:hover {
    text-decoration: underline;
}
#text .text-content {
    padding: 10px 20px 10px 50px;
    line-height: 200%;
}
#text h1 {
    padding-bottom: 0.2em;
}
#text h1 img {
    margin-right: 0.25em;
    vertical-align: middle;
}
#text .keywords {
    list-style-type: none;
    padding: 0;
}
#text .keywords li {
    text-indent: -30px;
    padding: 0;
    margin: 0;
    font-size:14px;
    color:black;
}
#text .keywords img {
    margin-right: 8px;
}
#text .keywords .key18 {
    font-size: 18px;
    font-weight: normal;
    color: #b7b7b7;
}
#text .keywords .key20 {
    font-size: 20px;
    font-weight: normal;
    color: #929292;
}
#text .keywords .key22 {
    font-size: 22px;
    font-weight: bold;
    color: #6e6e6e;
}
#text .keywords .key24 {
    font-size: 24px;
    font-weight: bold;
    color: #494949;
}
#text .keywords .key26 {
    font-size: 26px;
    font-weight: bold;
    color: #252525;
}

    .anecim {
    font-size: 14px;
    color: black;
        font-weight: bold;
    }

    .historie {
    padding-left: 30px;
    background: url(img/historie.png) 0 0 no-repeat;
    font-size: 0.9em;
    line-height: 170%;

    }

    #tema a[href^='http:'] {
    padding-right: 8px;
        background-image: url("img/http_url.png");
        background-position: right top;
        background-repeat: no-repeat;
    }

    #tema h2 {
    font-size: 2em;
    }

#footer {
    height: 185px;
    background: url(img/gnulinux5_bck_bottom.png) 0 0 no-repeat;
    padding: 60px 100px 0 100px;
    font-size: inherit;
}
#footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    color: #ac0000;
    border: none;
}
#footer ul li {
    display: inline;
}
#footer ul li:not(:last-child)::after {
    display: inline-block;
    content: '|';
    padding-left: 0.25em;
}
#footer .copyleft {
    display: block;
}
#footer .copyleft,
#footer .copy,
#footer .copy a {
    color: grey;
}
#footer .copy {
    padding-top: 15px;
    font-size: 0.9em;
    text-align: center;
}

    .right {
    text-align: right;
    padding: 0px;
    margin: 0px;
    }

    .doprava {
    float: right;
    margin: 5px;
    }
