<div id="konec">
    <div id="patka">
        <span class="odkazy">
            <a href="{{ '/' | relative_url }}">Proč</a> |
            <a href="{{ site.baseurl }}{% link _pages/vyhody.html %}">Výhody Linuxu</a> |
            <a href="{{ site.baseurl }}{% link _pages/chci-vyzkouset.html %}">Linux chci vyzkoušet</a> |
            <a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}">Stáhnout Linux</a>
        </span>
        <p id="copyleft">
            <i><a href="https://www.linuxmark.org/">Linux&reg;</a></i> je ochranná známka, kterou vlastní Linus Torvalds.<br />
            <i><a href="https://gnu.cz/">GNU</a></i> je rekurzivní zkratka <i>GNU is Not Unix</i> projektu na podporu vývoje svobodného software.<br />
            Jako <i><a href="https://cs.wikipedia.org/wiki/Linux">GNU/Linux</a></i> je označován svobodný operační systém tvořený velkým množstvím svobodných programů, výkonostně a funkčně srovnatelný s jinými operačními systémy.
        </p>
        <p id="kredit">
            &copy; {{ site.time | date: '%Y' }} <a class="credity" href="{{ site.author.web }}">{{ site.author.name }}</a>, <a class="credity" href="mailto:{{ site.author.email }}">e-mail</a> - pod záštitou CZLUG
        </p>
    </div>
</div>
