<header>
    <div id="wrapper">
        <h1><a href="{{ '/' | relative_url }}">Linux.cz</a></h1>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Domů</a></li>
                <li><a href="{{ site.baseurl }}{% link _pages/proc.md %}">Proč</a></li>
                <li><a href="{{ site.baseurl }}{% link _pages/odpovedi.md %}">Odpovědi</a></li>
                <li><a href="{{ site.baseurl }}{% link _pages/propagace.md %}">Propagace</a></li>
                <li><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.md %}">Stáhnout a vyzkoušet</a></li>
            </ul>
        </nav>
    </div>
</header>
