<meta charset="utf-8" />
{% seo %}
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
<link rel="home" href="{{ '/' | relative_url }}" />
<link rel="shortcut icon" href="{{ '/img/layout/ico_migrate_tux.png' | relative_url }}" type="image/png" />
<link rel="stylesheet" media="screen" href="{{ '/css/style.css' | relative_url }}" />
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.google_tag_manager }}');</script>
