<div id="footer">
    <hr />
    <a href="{{ '/' | relative_url }}">Proč</a> |
    <a href="{{ site.baseurl }}{% link _pages/vyhody.html %}">Vyhody</a> |
    <a href="{{ site.baseurl }}{% link _pages/chci-vyzkouset.html %}">Chci vyzkoušet</a> |
    <a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}">Kde získat</a>
    <hr />
    &copy; {{ site.time | date: '%Y' }} <a href="{{ site.author.web }}">{{ site.author.name }}</a>, <a href="mailto:{{ site.author.email }}">e-mail</a> - pod záštitou CZLUG
</div>

<!-- Google Code for PAGEVIEW Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1069089218;
var google_conversion_language = "cs";
var google_conversion_format = "1";
var google_conversion_color = "FFFFFF";
if (1) {
  var google_conversion_value = 1;
}
var google_conversion_label = "PAGEVIEW";
//-->
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js"></script>
<noscript><img height=1 width=1 border=0 src="https://www.googleadservices.com/pagead/conversion/1069089218/?value=1&label=PAGEVIEW&script=0"></noscript>
<script src="https://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
_uacct = "{{ site.google_analytics }}";
urchinTracker();
</script>
