<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ site.lang }}" lang="{{ site.lang }}">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ '/css/boxed.css' | relative_url }}" type="text/css" media="screen" />
</head>
<body>
    {% include google-tag-manager-noscript.html %}
    <div id="body">
        <div id="main">
            <div id="header">
                <a href="{{ '/' | relative_url }}"><img src="{{ '/img/gnulinux5_bck_top.png' | relative_url }}" alt="GNU/Linux" /></a>
                <h1>Operační systém</h1>
                <span>se vším, co potřebujete</span>
            </div>
            <div id="content">
                <div id="text">
                    <img src="{{ '/img/podklad_text_top.png' | relative_url }}" alt="">
                    <div class="text-content">
                        {{ content }}
                    </div>
                    <img src="{{ '/img/podklad_text_bottom.png' | relative_url }}" alt="">
                </div>
                <ul id="ikony">
                    <li><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#ubuntu" title="Ubuntu"><img src="{{ '/img/di_ubu.png' | relative_url }}" alt="Ubuntu"></a></li>
                    <li><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#fedora" title="Fedora"><img src="{{ '/img/di_fed.png' | relative_url }}" alt="Fedora"></a></li>
                    <li><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#mandriva" title="Mandriva"><img src="{{ '/img/di_man.png' | relative_url }}" alt="Mandriva"></a></li>
                    <li><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#suse" title="SUSE"><img src="{{ '/img/di_sus.png' | relative_url }}" alt="SUSE"></a></li>
                    <li><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#gentoo" title="Gentoo"><img src="{{ '/img/di_gen.png' | relative_url }}" alt="Gentoo"></a></li>
                    <li><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#debian" title="Debian"><img src="{{ '/img/di_deb.png' | relative_url }}" alt="Debian"></a></li>
                </ul>
            </div>
        </div>
        {% capture footer %}{% include footer.md %}{% endcapture %}
        {{ footer | markdownify }}
    </div>
</body>
</html>
