<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
    <link rel="stylesheet" media="screen" href="{{ '/css/boxed.css' | relative_url }}" />
</head>
<body>
    {% include google-tag-manager-noscript.html %}
    <div id="body">
        <main>
            <header>
                <a href="{{ '/' | relative_url }}">
                    <img src="{{ '/img/layout/gnulinux5_bck_top.png' | relative_url }}" alt="GNU/Linux">
                </a>
                <h1>Operační systém</h1>
                <span>se vším, co potřebujete</span>
            </header>
            <aside>
                <ul>
                    <li>
                        <a href="{{ site.baseurl }}{% link _pages/kde-ziskat.md %}#ubuntu" title="Ubuntu"><img src="{{ '/img/distribuce/ubuntu-logo.svg' | relative_url }}" alt="Ubuntu"></a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}{% link _pages/kde-ziskat.md %}#fedora" title="Fedora"><img src="{{ '/img/distribuce/fedora-logo.svg' | relative_url }}" alt="Fedora"></a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}{% link _pages/kde-ziskat.md %}#suse" title="openSUSE"><img src="{{ '/img/distribuce/opensuse-logo.png' | relative_url }}" alt="openSUSE"></a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}{% link _pages/kde-ziskat.md %}#linux-mint" title="Linux Mint"><img src="{{ '/img/distribuce/linux-mint-logo.svg' | relative_url }}" alt="Linux Mint"></a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}{% link _pages/kde-ziskat.md %}#mageia" title="Mageia"><img src="{{ '/img/distribuce/mageia-logo.svg' | relative_url }}" alt="Mageia"></a>
                    </li>
                </ul>
            </aside>
            <div id="content">
                <img src="{{ '/img/layout/podklad_text_top.png' | relative_url }}">
                <article>
                    {{ content }}
                </article>
                <img src="{{ '/img/layout/podklad_text_bottom.png' | relative_url }}">
            </div>
        </main>
        {% include footer.html %}
    </div>
</body>
</html>
