---
layout: boxed
---
<div id="text">
    <div id="podklad_t_t">
        <img src="{{ '/img/podklad_text_top.png' | prepend: site.baseurl }}" alt="-" />
    </div>
    <div id="klice">
        {{ content }}
    </div>
    <div>
        <img src="{{ '/img/podklad_text_bottom.png' | prepend: site.baseurl }}" alt="-" />
    </div>
</div>

<div id="ikony">
    <div id="ubu"><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#ubuntu"><img src="{{ '/img/di.gif' | prepend: site.baseurl }}" alt="ubuntu" title="ubuntu" /></a></div>
    <div id="fed"><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#fedora"><img src="{{ '/img/di.gif' | prepend: site.baseurl }}" alt="fedora" title="fedora" /></a></div>
    <div id="man"><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#mandriva"><img src="{{ '/img/di.gif' | prepend: site.baseurl }}" alt="mandriva" title="mandriva" /></a></div>
    <div id="sus"><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#suse"><img src="{{ '/img/di.gif' | prepend: site.baseurl }}" alt="suse" title="suse" /></a></div>
    <div id="gen"><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#gentoo"><img src="{{ '/img/di.gif' | prepend: site.baseurl }}" alt="gentoo" title="gentoo" /></a></div>
    <div id="deb"><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}#debian"><img src="{{ '/img/di.gif' | prepend: site.baseurl }}" alt="debian" title="debian" /></a></div>
</div>

<div id="cistic">
</div>
