<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ site.lang }}" lang="{{ site.lang }}">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ '/css/wide.css' | relative_url }}" type="text/css" media="screen" />
</head>
<body>
    {% include google-tag-manager-noscript.html %}
    <div id="header">
        <img src="{{ 'img/gnulinux.png' | relative_url }}" alt="GNU/Linux">
        <ul id="menu">
            <li><a href="{{ '/' | relative_url }}">Proč</a></li>
            <li><a href="{{ site.baseurl }}{% link _pages/vyhody.html %}">Výhody</a></li>
            <li><a href="{{ site.baseurl }}{% link _pages/chci-vyzkouset.html %}">Chci vyzkoušet</a></li>
            <li><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.html %}">Kde získat</a></li>
        </ul>
    </div>
    {{ content }}
    {% capture footer %}{% include footer.md %}{% endcapture %}
    {{ footer | markdownify }}
</body>
</html>
