<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
    <link rel="stylesheet" media="screen" href="{{ '/css/wide.css' | relative_url }}" />
</head>
<body>
    {% include google-tag-manager-noscript.html %}
    <header>
        <h1>
            <a href="{{ '/' | relative_url }}">
                <img src="{{ 'img/gnulinux.png' | relative_url }}" alt="GNU/Linux">
            </a>
        </h1>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Proč</a></li>
                <li><a href="{{ site.baseurl }}{% link _pages/vyhody.md %}">Výhody</a></li>
                <li><a href="{{ site.baseurl }}{% link _pages/chci-vyzkouset.md %}">Chci vyzkoušet</a></li>
                <li><a href="{{ site.baseurl }}{% link _pages/kde-ziskat.md %}">Kde získat</a></li>
            </ul>
        </nav>
    </header>
    {{ content }}
    {% capture footer %}{% include footer.md %}{% endcapture %}
    {{ footer | markdownify }}
</body>
</html>
